<!-- Tariff Info Block -->
<div class="tariff-info" id="tariff-info">
    <h2 class="tariff-title">Tarif: 
    {% if tariff %}
        {{ tariff.name }}
    {% else %}
        BONUS
    {% endif %}
    </h2> <!-- Updated title -->

    <div class="tariff-details">
        <div class="tariff-item">
            <strong>Narxi:</strong> <span class="tariff-value">{{ tariff.price }} so'm</span>
        </div>
        <div class="tariff-item">
            <strong>Muddati:</strong> <span class="tariff-value">{{ tariff.duration_in_months }} oy</span>
        </div>
        <div class="tariff-item">
            <strong>Boshlangan sanasi:</strong> <span class="tariff-value">{{ subscription.start_date|date:"d.m.Y" }}</span>
        </div>
        <div class="tariff-item">
            <strong>Keyingi to'lov sanasi:</strong> <span class="tariff-value">{{ subscription.end_date|date:"d.m.Y" }}</span>
        </div>
    </div>
    {% if tariff %}
    <div class="cancel-subscription">
        <button class="cancel-subscription-button" id="cancelSubscriptionButton">Bekor qilish</button>
    </div>
    {% endif %}
</div>
