<div class="tariff-info">
    <h2>Tarif ma'lumotlari</h2>
    <div class="tariff-info-item">
        <span>Tarif nomi:</span>
        <span>{{ tariff.name }}</span>
    </div>
    <div class="tariff-info-item">
        <span>Narxi:</span>
        <span>{{ tariff.price }} UZS</span>
    </div>
    <div class="tariff-info-item">
        <span>Davomiyligi (oy):</span>
        <span>{{ tariff.duration_in_months }}</span>
    </div>
    <div class="tariff-info-item">
        <span>Boshlanish sanasi:</span>
        <span>{{ start_date }}</span>
    </div>
    <div class="tariff-info-item">
        <span>Keyingi to'lov sanasi:</span>
        <span>{{ next_payment_date }}</span>
    </div>
</div>
