<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <script>
      function setThemeClass() {
        document.documentElement.className = Telegram.WebApp.colorScheme;
      }
      Telegram.WebApp.onEvent("themeChanged", setThemeClass);
      setThemeClass();
    </script>
    <style>
      body {
          font-family: Arial, sans-serif;
          margin: 0;
          padding: 0;
          background-color: #f4f4f4;
      }
      .main-content {
          display: flex;
          justify-content: start;
          flex-direction: column;
          align-items: center;
          height: 100vh;
          padding-top: 20px; /* Add some padding from the top */
      }
      {% include "profile/card_info/style.css" %}
    </style>
  </head>
  <body>
    <div class="main-content">
      <!-- Card Info Block -->
      <div class="card-info" id="card-info">
        <div class="card-number">
            <b>
                Bank kartasi ma'lumotlarini kiriting
            </b>
        </div>
        <!-- Edit Form -->
        <div class="edit-form" id="editForm" style="display: block">
          <input
            type="text"
            id="newCardNumber"
            placeholder="Karta raqamingizni kiriting"
            maxlength="16"
            oninput="validateCardNumber()"
            required
          />
          <input
            type="text"
            id="newExpire"
            placeholder="MM/YY"
            maxlength="5"
            oninput="formatExpiry()"
            required
          />
          <button
            class="continue-button"
            id="continueButton"
            onclick="continueEditing()"
          >
            Davom etish
          </button>
        </div>

        <!-- Verification Form -->
        <div class="verification-form" id="verificationForm">
          <input
            type="text"
            id="smsCode"
            placeholder="SMS tasdiqlash kodini kiriting"
            maxlength="6"
            oninput="validateSmsCode()"
            required
          />
          <button
            class="submit-button"
            id="submitButton"
            onclick="submitVerification()"
            disabled
          >
            Tasdiqlash
          </button>
        </div>
      </div>
    </div>

    <script>
      Telegram.WebApp.ready();
      Telegram.WebApp.expand();
      {% if debug %}
      const continueButton = document.getElementById('continueButton');
      continueButton.classList.add('enabled');
      continueButton.disabled = false;
      const cardNumberInput = document.getElementById('newCardNumber');
      const expiryInput = document.getElementById('newExpire');

      cardNumberInput.value = "8600332914249390";
      expiryInput.value = "09/25";
      {% endif %}
      {% include "profile/card_info/script.js" %}
    </script>
  </body>
</html>
